<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GSIDatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\GSIDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <location path="Secure/Admin">
    <system.web>

      <authorization>
        <allow users="Magnus"/>
        <deny users="*"/>
      </authorization>

    </system.web>
  </location>

  <location path="Secure">
    <system.web>

      <authorization>
        <deny users="?"/>
      </authorization>

    </system.web>
  </location>
  <location path="NonSecure">
    <system.web>

      <authorization>
        <allow users="*"/>
      </authorization>

    </system.web>
  </location>
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="NonSecure/logon.aspx"
          defaultUrl="Secure/default.aspx" />
      </authentication>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>

